body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #0c4d6b;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 28px;
}

header ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

header ul li a {
    color: black;           
    text-decoration: none;  
    font-weight: bold;
}

header ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

section h3 {
    font-size: 24px;
    color: #555;
    text-align: center;
}

ol {
    padding-left: 20px;
}

li {
    margin-bottom: 30px;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

footer {
    background-color: #0c4d6b;
    color: #fff;
    text-align: center;
    padding: 15px;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Para que el footer se mantenga en el fondo */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1; 
}

.catalogo {
    list-style: none;        
    padding: 0;
    margin: 0 auto;          
    text-align: center;      
    max-width: 800px;        
}

.catalogo li {
    margin-bottom: 40px;     
}

/* Barra de navegación */
nav {
    background-color: #0c4d6b;
    padding: 10px 0;
}

nav ul.navbar {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0;
    padding: 0;
}

nav ul.navbar li a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 4px; /* Esto aplica siempre, no solo en hover */
    transition: all 0.3s ease; /* Transición suave de todos los cambios */
}

nav ul.navbar li a:hover {
    background-color: #0850779a;
    border-radius: 4px;
}
